#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to right, #0000ff, #8a2be2); /* Blue to purple gradient */
}

.menu {
  background-color: #333;
  overflow: hidden;
  padding: 10px 0; /* Add padding to increase space */
  border-radius: 10px; /* Rounded edges for the menu */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Center the menu items */
}

.menu ul li {
  display: inline; /* Ensure items are inline */
  margin: 0 10px; /* Add margin to increase space between items */
}

.menu ul li button, .menu ul li > * {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #333;
  border: none;
  border-radius: 20px; /* Rounded edges for the buttons */
  vertical-align: middle; /* Align items vertically in the middle */
}

.menu ul li button:hover, .menu ul li > *:hover {
  background-color: #575757; /* Change background color on hover */
}

.ton-connect-button {
  padding: 0; /* Remove extra padding */
  height: auto; /* Adjust the height */
  display: inline-flex; /* Flexbox for better alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .menu ul li {
    display: block;
    margin: 0.5rem 0;
  }

  .menu ul li button, .menu ul li > * {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 0.5rem 0;
  }

  .logo {
    height: 4em;
  }
}
