#root {
  max-width: 100vw; /* Full width */
  margin: 0 auto;
  padding: 2vh; /* Scaled padding */
  text-align: center;
  background: linear-gradient(to right, #0000ff, #8a2be2); /* Blue to purple gradient */
  font-size: 2vw; /* Scaled font size */
}

.menu {
  background-color: #333;
  overflow: hidden;
  padding: 1vh 0; /* Scaled padding */
  border-radius: 2vw; /* Scaled border radius */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Make the menu horizontal */
  justify-content: space-around; /* Space items evenly */
  flex-direction: row-reverse; /* Align items from right to left */
}

.menu ul li {
  display: inline; /* Ensure items are inline */
}

.menu ul li button, .menu ul li > * {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1vh 2vw; /* Scaled padding */
  text-decoration: none;
  background-color: #333;
  border: none;
  border-radius: 2vw; /* Scaled border radius */
  vertical-align: middle; /* Align items vertically in the middle */
  font-size: 1.5vw; /* Scaled font size for menu items */
}

.menu ul li button:hover, .menu ul li > *:hover {
  background-color: #575757; /* Change background color on hover */
}

.ton-connect-button {
  padding: 0; /* Remove extra padding */
  height: auto; /* Adjust the height */
  display: inline-flex; /* Flexbox for better alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  font-size: 1.5vw; /* Match font size with menu items */
}

.card {
  padding: 4vh 2vw; /* Scaled padding */
}

.read-the-docs {
  color: #888;
  font-size: 1.5vw; /* Scaled font size */
}

/* Responsive adjustments for horizontal menu */
@media (max-width: 768px) {
  #root {
    padding: 1vh;
    font-size: 3vw; /* Further reduce font size for mobile */
  }

  .menu ul {
    flex-direction: row-reverse; /* Align items from right to left on mobile */
  }

  .menu ul li {
    display: inline-block; /* Ensure items are inline on mobile */
    margin: 0 1vw; /* Add margin to increase space between items */
  }

  .menu ul li button, .menu ul li > * {
    padding: 0.8vh 1.5vw; /* Smaller padding for mobile */
    border-radius: 2vw;
    font-size: 1.2vw; /* Smaller font size for menu items on mobile */
  }

  .logo {
    height: 4vh; /* Scaled height */
  }

  .Hint {
    font-size: 1.2vw; /* Scaled font size */
    overflow-wrap: break-word; /* Ensure long addresses wrap properly */
  }
}
